<%= @title %>
<div class="profile-index">
  <section>
    <h2 class="subhead">
      <%= image_tag 'icon_tick_64.png', class: 'icon' %>
      I'm a front-end web developer.
    </h2>
    <p>
      I write HTML, CSS, Javascript/JQuery. I also take care of browser compatibility.
    </p>
  </section>

  <section>
    <h2 class="subhead">
      <%= image_tag 'icon_tick_64.png', class: 'icon' %>
      I'm a back-end web developer.
    </h2>
    <p>
      I use Ruby on Rails at server-side. I write business websites, content management system and APIs.
      I familiar with UNIX system. I also write SQL.
    </p>
  </section>

  <section>
    <h2 class="subhead">
      <%= image_tag 'icon_warning_64.png', class: 'icon' %>
      I'm a limit system admin.
    </h2>
    <p>
      I have basic knowledge about networking and I am not master database.
    </p>
  </section>

  <section>
    <h2 class="subhead">
      <%= image_tag 'icon_delete_64.png', class: 'icon' %>
      I'm not a designer.
    </h2>
    <p>
      I don't know photoshop.
    </p>
  </section>
</div>